<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/crear.css" />
    <title>Crear experiencia</title>
</head>
<body>
    <h1>Crear Experiencia</h1>
    <form>
        <label for="Experiencia">Experiencia:</label><br>
        <input id="experiencia" name ="experiencia" />
        
        <label for="Fecha">Fecha:</label><br>        
        <input id="fecha" name ="fecha" />
        
        <label for="calificacion">calificacion:</label><br>
        <input id="calificacion" name ="calificacion" />
        
        <label for="comentario">comentario:</label><br>       
        <input id="comentario" name ="comentario" />
        
        <label for="precio">precio:</label><br>
        <input id="precio" name ="precio" />
        <button id="crear">Crear</button>
    </form>
<script src="/js/crear_experiencias.js" defer></script>

</body>
</html>
