<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"/>
    <title>Crear experiencia</title>
</head>
<body>
    <%- include('../HeaderYFooterGeneral/header') %>       
    <h1>Crear Experiencia</h1>
    <form action="/admin/experiencias/crear" method="POST">
        <label for="experiencia">Experiencia:</label><br>
        <input type="text" id="experiencia" name ="experiencia" required/>
        
        <label for="fecha">Fecha:</label><br>        
        <input type="datetime-local" id="fecha" name="fecha" class="form-control" step="1" required/>

        
        <label for="calificacion">Calificacion:</label><br>
        <input type="number" id="calificacion" name ="calificacion" min="1" max="5" required/>
        
        <label for="comentario">Comentario:</label><br>       
        <input id="comentario" name ="comentario" />
        
        <label for="precio">Precio:</label><br>
        <input type="number" id="precio" name ="precio" min="0" required/>
        
        <button type="submit" class="button">Crear Experiencia</button>
        <a href="/admin/dashboard" class="button cancel-button">Cancelar</a>
    </form>
      <%- include('../HeaderYFooterGeneral/footer') %>
</body>
</html>



