<header id="header" class="d-flex align-items-center p-3">
    <img id="logo-empresa" src="/img/logo.png" alt="Logo de la empresa">
    <nav class="ms-auto">
        <a href="/viajes" class="botonNav">viajes</a>
        <a href="/experiencias" class="botonNav">Experiencias</a>
        <a href="/admin/login" class="botonNav">Inicio</a>
    </nav>
</header>
