<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Viaje</title>
</head>
<body>
    <form>
        <input id="origen" name ="origen" />
        <input id="destino" name="destino" />
        <input id="fechaSalida" name="fechaSalida" />
        <input id="fechaLlegada" name="fechaLlegada" />
        <input id="precio" name="precio" />
    </form>
    <button id="crear">Crear</button>

</body>
</html>
