<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Viaje</title>
</head>
<body>
    <form>
        <input id="origen" name ="origen" />
        <input id="destino" name="destino" />
        <input id="fechaSalida" name="fechaSalida" />
        <input id="fechaLlegada" name="fechaLlegada" />
        <input id="precio" name="precio" />
    </form>
    <button id="crear">Crear</button>
    <script>
        const crear = document.getElementById("crear");
        const origen = document.getElementById("origen");
        const destino = document.getElementById("destino");
        const fechaSalida = document.getElementById("fechaSalida");
        const fechaLlegada = document.getElementById("fechaLlegada");
        const precio = document.getElementById("precio");

        crear.onclick = () => {
            fetch("/viajes", {
                method: "POST",
                body: JSON.stringify({
                    origen: origen.value,
                    destino: destino.value,
                    fechaSalida: fechaSalida.value,
                    fechaLlegada: fechaLlegada.value,
                    precio: precio.value
                }),
                headers: {
                    "Content-Type": "application/json"
                }
            });
        }
    </script>
</body>
</html>
